{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}
<head>
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<div class="container mb-6" >
        <div class="row  ">



                 <h2 class='alert alert-success text-center p-3'>Send Us Query</h2>
                <form method="post">
                 {% csrf_token %}
                    <div class="form-group">
                      <label for="subject"   >Subject:</label>
                       <input type="text" name="subject" class="form-control" required><br><br>
                    </div>
                    <div class="form-group">
                 <label for="message"  >Message:</label>
                 <textarea name="message" class="form-control" rows="5" required></textarea><br>
                 <button type="submit" class="btn btn-primary">Send</button>
                </form>

        </div>
</div>



{% endblock %}
